<section class="flex justify-center items-center text-white">
  <div class="relative max-w-[1400px] w-10/12 h-205 mt-14">
    @for (frontPageData of homeData.frontPage; track $index) {
      @if (activeSection === frontPageData.id) {
        <div class="absolute inset-0">
          <img
            [src]="frontPageData.image"
            alt="Modelo con hoodie negro"
            class="h-full w-full object-cover object-center rounded-4xl opacity-50"
          />
          <div class="absolute inset-0 from-black/80 via-transparent to-transparent"></div>
        </div>
        <div class="relative z-10 flex h-full flex-col justify-end px-8">
          <div class="max-w-2xl space-y-6 mb-26 lg:mb-36">
            <h1
              class="font-heading text-4xl md:text-5xl w-full md:w-full font-black uppercase leading-[0.9] tracking-tighter"
            >
              {{ frontPageData.title }}
            </h1>

            <p class="max-w-md text-zinc-300 text-lg leading-relaxed">
              {{ frontPageData.description }}
            </p>

            <button
              class="flex items-center gap-3 bg-white pl-8 pr-1 py-1.5 rounded-full text-black font-semibold transition-all hover:bg-gray-200"
            >
              Comprar ahora
              <div class="w-10 h-10 rounded-full flex items-center justify-center bg-black">
                <span class="pi pi-arrow-right text-white"></span>
              </div>
            </button>
          </div>

          <div class="absolute bottom-6 w-full left-0 px-10">
            <div class="grid grid-cols-5 gap-4 border-t border-white/20 pt-4">
              @for (item of sections; track item.id) {
                <div
                  (click)="initSection(item.id)"
                  class="cursor-pointer transition-opacity duration-300"
                  [class.opacity-100]="activeSection === item.id"
                  [class.opacity-50]="activeSection !== item.id"
                >
                  @if (activeSection === item.id) {
                    <div
                      [style.width.%]="contador()"
                      class="absolute -top-px h-[2.5px] bg-white fade-in-element transition-all duration-300 ease-linear"
                    ></div>
                  }
                  <span class="block text-xl font-bold">0{{ item.id }}</span>

                  <p
                    class="text-[10px] hidden lg:block md:text-xs uppercase tracking-wider font-medium leading-tight"
                  >
                    {{ item.title }}
                  </p>
                </div>
              }
            </div>
          </div>
        </div>
      }
    }
  </div>
</section>

<section class="w-full text-white py-20 px-6 sm:px-12 md:px-24 font-sans">
  <div class="max-w-[1400px] mx-auto">
    <h1 class="text-6xl font-extrabold uppercase tracking-tight mb-5 leading-none max-w-lg">
      {{ homeData.newDrops.title }}
    </h1>
    <p class="text-zinc-400 max-w-3xl text-lg leading-relaxed font-normal">
      {{ homeData.newDrops.description }}
    </p>
    <div class="grid mt-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 xl:gap-12">
      @for (drop of homeData.newDrops.drops; track drop.id) {
        <article class="relative group">
          <div
            class="aspect-[4/5] w-full rounded-3xl overflow-hidden bg-zinc-900 mb-6 group-hover:scale-[1.01] transition-transform duration-300 shadow-xl"
          >
            <span
              class="absolute top-4 left-4 z-10 bg-white text-black text-xs font-black uppercase px-4 py-1.5 rounded-full tracking-widest shadow-lg"
            >
              NEW
            </span>
            <img [src]="drop.image" [alt]="drop.title" class="w-full h-full object-cover" />
          </div>

          <div class="space-y-2">
            <h2
              class="text-3xl font-extrabold uppercase tracking-tight group-hover:text-zinc-200 transition-colors"
            >
              {{ drop.title }}
            </h2>
            <p class="text-zinc-500 text-base leading-relaxed line-clamp-3">
              {{ drop.description }}
            </p>
            <p class="text-zinc-100 text-2xl font-bold flex gap-4 items-baseline">
              <span class="font-extrabold">{{ drop.offerPrice }}</span>
              <span class="text-lg text-zinc-600 line-through font-medium">
                {{ drop.price }}
              </span>
            </p>
          </div>
        </article>
      }
    </div>
  </div>
</section>
